# compiled output
.vscode

cert

static

tmp

.env
.env.dev
.env.dev-docker
.env.dev-k8s
.env.secrets

dev.yaml
dev-docker.yaml
dev-k8s.yaml

application-dev.properties
application-dev-docker.properties
application-dev-k8s.properties

node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json