name: 'ducks-tinder'
services:
  chat-service:
    container_name: chat-service
    restart: always
    build:
      context: .
      dockerfile: chat-service/Dockerfile
    volumes:
      - ./chat-service/cert:/app/cert
    depends_on:
      - postgres
      - user-service
    env_file:
      - ./chat-service/.env.dev-docker
    ports:
      - "${CHAT_SERVICE_PORT}:${CHAT_SERVICE_PORT}"
      - "${CHAT_SERVICE_HEALTH_PORT}:${CHAT_SERVICE_HEALTH_PORT}"
      - "${CHAT_SERVICE_GRPC_PORT}:${CHAT_SERVICE_GRPC_PORT}"
  user-service:
    container_name: user-service
    restart: always
    build:
      context: .
      dockerfile: user-service/Dockerfile
    volumes:
      - ./user-service/cert:/app/cert
    env_file:
      - ./user-service/.env.dev-docker
    ports:
      - "${USER_SERVICE_PORT}:${USER_SERVICE_PORT}"
      - "${USER_SERVICE_HEALTH_PORT}:${USER_SERVICE_HEALTH_PORT}"
      - "${USER_SERVICE_GRPC_PORT}:${USER_SERVICE_GRPC_PORT}"
    depends_on:
      - postgres
      - file-service
      - map-service
  map-service:
    container_name: map-service
    restart: always
    build:
      context: map-service
      dockerfile: Dockerfile
    volumes:
      - ./map-service/cert:/app/cert
      - ./map-service/src/main/resources/application-dev-docker.properties:/app/config/application-dev-docker.properties
    environment:
      SPRING_PROFILES_ACTIVE: dev-docker
      KEYSTORE_PASSWORD: password
    depends_on:
      - postgres
    ports:
      - "${MAP_SERVICE_HEALTH_PORT}:${MAP_SERVICE_HEALTH_PORT}"
      - "${MAP_SERVICE_GRPC_PORT}:${MAP_SERVICE_GRPC_PORT}"
  auth-service:
    container_name: auth-service
    restart: always
    build:
      context: auth-service
      dockerfile: Dockerfile
    volumes:
      - ./auth-service/.env:/app/.env
      - ./auth-service/config:/app/config
    environment:
      MODE: dev-docker
    ports:
      - '${AUTH_SERVICE_PORT}:${AUTH_SERVICE_PORT}'
    deploy:
      restart_policy:
        condition: on-failure
    command: ['/usr/src/app/app']
    depends_on:
      - postgres
  billing-service:
    container_name: billing-service
    restart: always
    build:
      context: billing-service
      dockerfile: Dockerfile
    environment:
      MODE: dev-docker
    ports:
      - '${BILLING_SERVICE_PORT}:${BILLING_SERVICE_PORT}'
      - '${BILLING_SERVICE_GRPC_PORT}:${BILLING_SERVICE_GRPC_PORT}'
    deploy:
      restart_policy:
        condition: on-failure
    command: ['/usr/src/app/app']
    depends_on:
      - postgres
  subscription-service:
    container_name: subscription-service
    restart: always
    build:
      context: subscription-service
      dockerfile: Dockerfile
    volumes:
      - ./subscription-service/.env:/app/.env
      - ./subscription-service/config:/app/config
      - ./subscription-service/cert:/app/cert
    environment:
      MODE: dev-docker
    ports:
      - "${SUBSCRIPTION_SERVICE_PORT}:${SUBSCRIPTION_SERVICE_PORT}"
      - "${SUBSCRIPTION_SERVICE_HEALTH_PORT}:${SUBSCRIPTION_SERVICE_HEALTH_PORT}"
      - "${SUBSCRIPTION_SERVICE_GRPC_PORT}:${SUBSCRIPTION_SERVICE_GRPC_PORT}"
    command: ["/app/app"]
    depends_on:
      - billing-service
      - postgres
  file-service:
    container_name: file-service
    restart: always
    build:
      context: file-service
      dockerfile: Dockerfile
    volumes:
      - ./static:/app/static
      - ./file-service/.env:/app/.env
      - ./file-service/config:/app/config
      - ./file-service/cert:/app/cert
    environment:
      MODE: dev-docker
    ports:
      - "${FILE_SERVICE_PORT}:${FILE_SERVICE_PORT}"
      - "${FILE_SERVICE_HEALTH_PORT}:${FILE_SERVICE_HEALTH_PORT}"
      - "${FILE_SERVICE_GRPC_PORT}:${FILE_SERVICE_GRPC_PORT}"
  postgres:
    container_name: postgres
    restart: always
    build:
      context: .
      dockerfile: database/postgresql/Dockerfile
    volumes:
      - ./database/postgresql/postgresql.conf:/var/lib/postgresql/postgresql.conf
      - ./database/postgresql/pg_hba.conf:/var/lib/postgresql/pg_hba.conf
      - ./database/cert/dev-docker/tls.crt:/var/lib/postgresql/tls.crt
      - ./database/cert/dev-docker/tls.key:/var/lib/postgresql/tls.key
      - ./database/cert/dev-docker/ca.crt:/var/lib/postgresql/ca.crt
      - ./database/postgresql/entrypoint.sh:/app/entrypoint.sh
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT_LOCAL}:${POSTGRES_PORT}"
  postgres-exporter:
    container_name: postgres-exporter
    image: prometheuscommunity/postgres-exporter:v0.13.1
    environment:
      DATA_SOURCE_URI: ${POSTGRES_ROOT_URL}
      DATA_SOURCE_USER: ${POSTGRES_USER}
      DATA_SOURCE_PASS: ${POSTGRES_PASSWORD}
    ports:
      - "9187:9187"
    depends_on:
      - postgres
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:8
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@gmail.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
  prometheus:
    container_name: prometheus
    image: prom/prometheus:v2.53.2
    volumes:
      - ./prometheus:/etc/prometheus
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/usr/share/prometheus/console_libraries"
      - "--web.console.templates=/usr/share/prometheus/consoles"
      - "--web.enable-lifecycle"
      - "--web.enable-admin-api"
      - "--web.config.file=/etc/prometheus/web-config.yml"
    ports:
      - 9090:9090
  grafana:
    container_name: grafana
    image: grafana/grafana:11.4.0
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning/:/etc/grafana/provisioning/
      - ./grafana/cert/:/etc/grafana/cert/
    env_file:
      - ./grafana/.env.dev
    restart: always
    depends_on:
      - prometheus
    ports:
      - 9100:9100

volumes:
  pgadmin-data: {}
  prometheus_data: {}
  grafana_data: {}
  file_service_static_data:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "static"
