apiVersion: v1
kind: Service
metadata:
  name: auth-service-service
  annotations:
    service.beta.kubernetes.io/azure-load-balancer-tcp-idle-timeout: '30'
spec:
  type: ClusterIP
  selector:
    app: auth-app-service-deployment
  ports:
    - name: http
      port: 5003
      targetPort: 5003
      protocol: TCP
    - name: health
      port: 35000
      targetPort: 35000
      protocol: TCP
