apiVersion: v1
kind: Service
metadata:
  name: billing-service-service
  annotations:
    service.beta.kubernetes.io/azure-load-balancer-tcp-idle-timeout: '30'
spec:
  type: ClusterIP
  selector:
    app: billing-app-service-deployment
  ports:
    - name: http
      port: 5004
      targetPort: 5004
      protocol: TCP
    - name: health
      port: 35000
      targetPort: 35000
      protocol: TCP
    - name: grpc
      port: 6001
      targetPort: 6001
      protocol: TCP
