apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: main-ingress
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: HTTPS
    nginx.ingress.kubernetes.io/force-ssl-redirect: 'true'
spec:
  ingressClassName: nginx
  rules:
    - host: kubernetes.docker.internal
      http:
        paths:
          - path: /user
            pathType: Prefix
            backend:
              service:
                name: proxy-service
                port:
                  number: 7000
          - path: /chat
            pathType: Prefix
            backend:
              service:
                name: proxy-service
                port:
                  number: 7000
