image:
  registry: docker.io
  repository: bitnamilegacy/postgresql
  tag: 13-debian-12
primary:
  configuration: |-
    ssl = on
    ssl_ca_file = '/opt/bitnami/postgresql/certs/ca.crt'
    ssl_cert_file = '/opt/bitnami/postgresql/certs/tls.crt'
    ssl_key_file = '/opt/bitnami/postgresql/certs/tls.key'
    listen_addresses = '*'

    log_connections = on
    log_disconnections = on
  # 127.0.0.1 - test from port-forward
  pgHbaConfiguration: |-
    hostssl all all all cert clientcert=verify-full
    host all all 127.0.0.1/32 trust
tls:
  enabled: true
  preferServerCiphers: true
  certificatesSecret: common-ca-tls-secret
  certFilename: tls.crt
  certKeyFilename: tls.key
  certCAFilename: ca.crt
auth:
  postgresPassword: prisma
metrics:
  enabled: true
  image:
    registry: docker.io
    repository: bitnamilegacy/postgres-exporter
    tag: 0.13.2-debian-11-r53
