image:
  registry: docker.io
  repository: bitnamilegacy/postgresql
  tag: 13-debian-12
primary:
  configuration: |-
    ssl = on
    ssl_ca_file = '/opt/bitnami/postgresql/certs/ca.crt'
    ssl_cert_file = '/opt/bitnami/postgresql/certs/tls.crt'
    ssl_key_file = '/opt/bitnami/postgresql/certs/tls.key'
    listen_addresses = '*'

    log_connections = on
    log_disconnections = on
  # 127.0.0.1 - test from port-forward
