prometheus-pushgateway:
  enabled: false
alertmanager:
  enabled: false
server:
  probeScheme: HTTPS
  prefixURL: /prometheus/
  baseURL: https://kubernetes.docker.internal/prometheus/
  configPath: /etc/prometheus/prometheus.yml
  defaultFlagsOverride:
    - --web.config.file=/etc/prometheus/web-config.yml
    - --web.enable-lifecycle
    - --web.enable-admin-api
    - --web.external-url=https://kubernetes.docker.internal/prometheus/
    - --config.file=/etc/prometheus/prometheus.yml
    - --storage.tsdb.path=/prometheus
    - --web.console.libraries=/usr/share/prometheus/console_libraries
    - --web.console.templates=/usr/share/prometheus/consoles
  extraConfigmapMounts:
    - name: prometheus-config
      mountPath: /etc/prometheus
      configMap: prometheus-config
  extraSecretMounts:
    - name: tls-volume
      mountPath: /etc/prometheus/cert
      secretName: common-ca-tls-secret
      readOnly: true
  service:
    servicePort: 9090
  persistentVolume:
    enabled: true
    size: 2Gi
    storageClass: local-storage
    volumeName: prometheus-pv
    existingClaim: prometheus-pvc
  resources:
    limits:
      cpu: "0.25"
      memory: "640Mi"
    requests:
      cpu: "0.125"
      memory: "128Mi"
