prometheus-pushgateway:
  enabled: false
alertmanager:
  enabled: false
server:
  probeScheme: HTTPS
  prefixURL: /prometheus/
  baseURL: https://kubernetes.docker.internal/prometheus/
  configPath: /etc/prometheus/prometheus.yml
  defaultFlagsOverride:
    - --web.config.file=/etc/prometheus/web-config.yml
    - --web.enable-lifecycle
    - --web.enable-admin-api
    - --web.external-url=https://kubernetes.docker.internal/prometheus/
    - --config.file=/etc/prometheus/prometheus.yml
    - --storage.tsdb.path=/prometheus
    - --web.console.libraries=/usr/share/prometheus/console_libraries
    - --web.console.templates=/usr/share/prometheus/consoles
  extraConfigmapMounts:
    - name: prometheus-config
      mountPath: /etc/prometheus
      configMap: prometheus-config
  extraSecretMounts:
    - name: tls-volume
      mountPath: /etc/prometheus/cert
      secretName: common-ca-tls-secret
      readOnly: true
  service:
    servicePort: 9090
  persistentVolume:
    enabled: true
    size: 2Gi
    storageClass: local-storage
    volumeName: prometheus-pv
    existingClaim: prometheus-pvc
  resources:
    limits:
      cpu: "0.25"
      memory: "640Mi"
    requests:
      cpu: "0.125"
      memory: "128Mi"
extraScrapeConfigs:
  - job_name: "kube-state-metrics"
    static_configs:
      - targets: ["prometheus-kube-state-metrics:8080"]

  - job_name: "node-exporter"
    static_configs:
      - targets: ["prometheus-prometheus-node-exporter:9100"]

  - job_name: "postgres"
    static_configs:
      - targets: ["postgres-postgresql-metrics:9187"]

  - job_name: "file-service"
    scheme: https
    tls_config:
      ca_file: /etc/prometheus/cert/ca.crt
      cert_file: /etc/prometheus/cert/tls.crt
      key_file: /etc/prometheus/cert/tls.key
    static_configs:
      - targets: ["file-service-service:5002"]
  - job_name: "auth-service"
    scheme: https
    tls_config:
      ca_file: /etc/prometheus/cert/ca.crt
      cert_file: /etc/prometheus/cert/tls.crt
      key_file: /etc/prometheus/cert/tls.key
    static_configs:
      - targets: ["auth-service-service:5003"]
  - job_name: "billing-service"
    scheme: https
    tls_config:
      ca_file: /etc/prometheus/cert/ca.crt
      cert_file: /etc/prometheus/cert/tls.crt
      key_file: /etc/prometheus/cert/tls.key
    static_configs:
      - targets: ["billing-service-service:5004"]
  - job_name: "subscription-service"
    scheme: https
    tls_config:
      ca_file: /etc/prometheus/cert/ca.crt
      cert_file: /etc/prometheus/cert/tls.crt
      key_file: /etc/prometheus/cert/tls.key
    static_configs:
      - targets: ["subscription-service-service:5005"]
  - job_name: "map-service"
    scheme: https
    tls_config:
      ca_file: /etc/prometheus/cert/ca.crt
      cert_file: /etc/prometheus/cert/tls.crt
      key_file: /etc/prometheus/cert/tls.key
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ["map-service-service:5006"]
