image:
  registry: docker.io
  repository: bitnami/rabbitmq
  tag: 4.1.0-debian-12-r0
auth:
  existingPasswordSecret: rabbitmq-secret
  existingSecretPasswordKey: RABBITMQ_PASSWORD
  username: admin
  password: password
  updatePassword: true

  tls:
    enabled: true
    failIfNoPeerCert: true
    sslOptionsVerify: verify_peer

    caCertificate: ca.crt
    serverCertificate: tls.crt
    serverKey: tls.key
    existingSecret: common-ca-tls-secret

metrics:
  enabled: true
configuration: |-
  listeners.ssl.default = 5672
  listeners.tcp = none
  ssl_options.cacertfile = /opt/bitnami/rabbitmq/certs/ca_certificate.pem
  ssl_options.certfile = /opt/bitnami/rabbitmq/certs/server_certificate.pem
  ssl_options.keyfile = /opt/bitnami/rabbitmq/certs/server_key.pem
  ssl_options.verify = verify_peer
  ssl_options.fail_if_no_peer_cert = true

  management.ssl.port = 15672
  management.ssl.cacertfile = /opt/bitnami/rabbitmq/certs/ca_certificate.pem
  management.ssl.certfile = /opt/bitnami/rabbitmq/certs/server_certificate.pem
  management.ssl.keyfile = /opt/bitnami/rabbitmq/certs/server_key.pem
  management.ssl.password = password
  management.ssl.verify = verify_peer
  management.ssl.fail_if_no_peer_cert = true
