image:
  registry: docker.io
  repository: bitnami/rabbitmq
  tag: 4.1.0-debian-12-r0
auth:
  existingPasswordSecret: rabbitmq-secret
  existingSecretPasswordKey: RABBITMQ_PASSWORD
  username: admin
  password: password
  updatePassword: true
