image:
  registry: docker.io
  repository: bitnami/rabbitmq
  tag: 4.1.0-debian-12-r0
auth:
  existingPasswordSecret: rabbitmq-secret
  existingSecretPasswordKey: RABBITMQ_PASSWORD
  username: admin
  password: password
  updatePassword: true

  tls:
    enabled: true
    failIfNoPeerCert: true
    sslOptionsVerify: verify_peer

    caCertificate: ca.crt
    serverCertificate: tls.crt
    serverKey: tls.key
    existingSecret: common-ca-tls-secret

metrics:
  enabled: true
