PORT=443
HEALTH_PORT=3443
GRPC_PORT=50051

GEOCODE_API_URL=https://geocode-maps.yandex.ru/1.x/
GEOCODE_API_KEY=2e0f452e-4ec4-439c-95f4-3d84fed114e8

JWT_ACCESS_SECRET=df345sdfsdfas234dfasdfa567sdf

DATABASE_URL=postgresql://postgres:prisma@postgres-service:5432/tinder

CLIENT_IDENTITY_PASSWORD=password
CLIENT_IDENTITY_PATH=/tmp/client-identity.p12

GRPC_FILE_SERVICE_URL=file-service-service:50051
GRPC_MAP_SERVICE_URL=map-service-service:50051
GRPC_CHAT_SERVICE_URL=chat-service-service:50051
